@import "~common/scss/settings";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  padding: 50px 15px;

  @media (max-width: map-get($nb-breakpoints, 'md')) {
    height: auto;
  }
}

.headline {
  text-align: center;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  vertical-align: middle;
  fill: #fff;
}
