.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.icon {
  width: 200px;
  height: 200px;
}

.freeIcon {
  fill: #6bd18e;
}

.busyIcon {
  fill: #db6e58;
}

.text {
  font-size: 100px;
  padding-left: 50px;
}

.freeText {
  color: #6bd18e;
}

.busyText {
  color: #db6e58;
}
