<!DOCTYPE html>
<html>
  <head>
    <title>iZettle Ping Pong table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:500" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
  </head>
    <body>
      <!-- Begin page content -->
      <div id="root"></div>
      <script>
        window.INITIAL_STATE = {
          whiteScore: {{ white_score }},
          redScore: {{ red_score }},
          tableStatus: '{{ table_status }}',
          busySince: '{{ busy_since }}'
        };
      </script>
      <script type="text/javascript" src="{{ script_file }}"></script>
    </body>
</html>
